html,body,address,blockquote,div,p,pre,h1,h2,h3,h4,h5,h6,hr,	/* block level 	*/
dd,dl,dt,ul,ol,li,												/* lists 		*/
a,abbr,acronym,b,big,br,cite,code,del,dfn,em,i,					/* inline text 	*/
ins,kbd,q,samp,small,span,strong,sub,sup,tt,var, object,														/* misc 		*/
caption,table,tbody,td,tfoot,th,thead,tr,						/* table 		*/
form, input,textarea,select,button,fieldset,legend,label, 		/* form 		*/
font,u,s,center,dir,menu,strike,xmp	/* depricated 	*/
{
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-align: left;
	text-indent: 0;
	text-decoration: none;
	list-style-type: none;
	border: 0;
}

applet,iframe,embed {
	/* display: none; */								/* remove depricated, use object instead */
}

hr,img,object {
	border: 0;
}

input,select,button {
	vertical-align: middle; 						/* make all controls align middle to textline in all browsers */
	border:0;
	outline:0;
	cursor:pointer;
}

textarea {
	vertical-align: top;						/* ...and all textareas, but... */
}

input,button{
	overflow: visible;							/* remove padding in buttons in IE */
}

select[size]{
	vertical-align: top;						/* make align top to textline for all selectboxes which has attribute "size",.. */
}

select[size="1"] {
	vertical-align: middle;						/* ...if attribute "size" of a selectbox is set to "1", make it align middle to textline */
}

caption,td,th,tr {
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

optgroup {
	font-style: normal;							/* works only in FF */
}

optgroup option {
	padding-left: 22px;							/* make padding in FF almost the same as in other browsers */
}

hr {
	color: black;
	height: 1px;
	margin: 7px 0;							/* crossbrowser hr */
}

ol li, ul li{
	vertical-align: middle;							/* fixing margins for IE, if there are elements with "display: block" in list items */
}

ol li{
	list-style-type: decimal;
}

ul li{
	list-style-type: none;
}

q { quotes: '\00AB' '\00BB' '\201E' '\201C'; }	/* russian quotes */
q:before	{ content: '\00AB'; }
q:after		{ content: '\00BB'; }
q q:before	{ content: '\201E'; }
q q:after	{ content: '\201C'; }

sub, sup{
	position: relative;							/* this method is better, there will not be extra padding in textline */
	font-size: 11px;
}

sub{
	top: 5px;
}

sup{
	top: -5px;
}

a, a:active {
	outline: none;
}

input, textarea {
	outline-style: none;
	resize: none;
	/* Disable orange border around active areas and hide resize label in textarea  */
}

