body{
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size:16px;	
}
.header{
		width:100%;
		height:60px;
		background:#e1e1e1;
		font-size:18px;
}
.wrapper{
	width:940px;
	margin:0 auto;
	position:relative;
	padding:0 10px;
}
.adress{
	padding-left:27px;
	position:absolute;
	top:19px; left:13px;
	background:url(../images/adr-icon.png) 0 0 no-repeat;
}
.phone{
	padding-left:35px;
	position:absolute;
	top:19px; left:410px;
	background:url(../images/phone-icon.png) 0 0 no-repeat;
	font-size:24px;
	line-height:22px;
}
.login-page{
	width:100%;
	height:545px;
	background:url(../images/main-background.jpg) center bottom no-repeat;
}
.main-logo{
	width:219px;
	height:155px;
	display:block;
	position:absolute;
	top:100px;
}
.login-menu{
	width:550px;
	height:465px;
	background:rgba(255,255,255,0.6);
	position:absolute;
	top:40px; right:0;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.login-menu span{
	font-size:24px;
	position:absolute;
	top:55px; left:60px;
	text-transform:uppercase;
}
.login-menu form{
	width:420px;
	position:absolute;
	top:100px; left:60px;
}
.formDiv {
	width:420px;
	margin:20px 0 30px;
	position:relative;
}
.login-menu label{
	font-size:18px;
	line-height:40px;
}
.login-menu input{
	width:308px;
	height:28px;
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size:18px;
	padding: 5px 15px 5px 15px ;	
	float:right;
	background:#ebebeb;
	border:1px solid #717171;
	border-radius:2px;
	-webkit-border-radius:2px;
}
.login-menu input:focus{
	border:1px solid #ff6700;
}
.jq-checkbox {
	display:block!important;
	width: 20px;
	height: 20px;	
	background: url(../images/checkbox.png) 0 -25px  no-repeat;		
	cursor: pointer;
	padding:0!important;
}
.login-menu .jq-checkbox{
	position:relative;
	left:80px;
	margin-right:8px;
	vertical-align: top!important;
	display: inline-block!important;
}
.jq-checkbox.checked {
	background: url(../images/checkbox.png) 0 0 no-repeat;	
}
.check-span{
	display:inline-block;
	position:relative;
	left:80px;
	font-size:18px;
	color:#636363;
}
.sub-button{
	height:40px;
	padding:0 40px;	
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size:18px;	
	position:relative;
	left:80px;	
	border-radius:2px;	
	-webkit-border-radius:2px;
	background:#ff6700;
	border-top:0;
	border-bottom:2px solid #d35400;
	color:white;	
}
.sub-button:active{
	background:#585f69;
	border-top:2px solid  #353638;	
	border-bottom:0;
	color:#c5c7c6;
}
.forgotten{
	color:#636363;
	text-decoration:underline;
	position:absolute;
	left: 240px;
	top: 10px;
	font-size:18px;	
}
.forgotten:hover{
	text-decoration:none;
}

.form-error{
	height:40px;
	padding: 0 20px;
	margin:0;
	background:#ff6700;
	line-height:40px;
	display: inline-block;
	position: relative;
	left: 80px;
	top: -10px;
	color:white;	
	border-radius:2px;	
	-webkit-border-radius:2px;	
	z-index:10;
	font-size:18px;	
}

.form-error:after{
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 233, 173, 0);
	border-bottom-color: #ff6700;
	border-width: 7px;
	margin-left: -7px;	
}
.pad{
	height:60px;
}
.footer{
	width:100%;	
	height:94px;
	background:#585f69;
}
.developers{
	display:inline-block;
	position:absolute;
	right:40px; top:28px;
	padding: 0 0 0 50px;
	font-size:13px;
	color:#a7aaaf;	
	line-height:1.4em;
	background:url(../images/tian.png) left center no-repeat;
}
.developers a{
	color:#a7aaaf;	
	text-decoration:underline;
}
.phone-footer{	
	padding-left:30px;
	position:absolute;
	top:30px; left:310px;
	color:#d9dedf;
	background:url(../images/phone-footer.png) 0 0 no-repeat;
	font-size:18px;
	line-height:19px;
}
.copy{
	position:absolute;
	top:30px; left:10px;
	color:#d9dedf;
}
/******************** ЛК **************************/
.lk-header{
		width:100%;
		height:65px;
		background:#e1e1e1;
		font-size:14px;
		color: #585f69;
}
.lk-logo{
	width:88px;
	height:43px;
	display:block;
	position:absolute;
	left:10px; top:10px;
}
.lk-phone{
	padding-left: 18px;
	position: absolute;
	top: 25px;
	left: 217px;
	background: url(../images/lk-phone.png) 0 0 no-repeat;	
	line-height: 14px;	
}
.lk-adress{
	padding-left:17px;	
	background:url(../images/lk-adress.png) 0 0 no-repeat;
	position: absolute;
	top: 25px;
	left: 380px;
	line-height:12px;
}
.basket{
	width:146px;
	height:63px;
	display:block;
	position:absolute;
	right:170px;	
	padding-left:35px;
	cursor:pointer;
	color:white;
	line-height:63px;
	background:#ff6700 url(../images/basket-icon.png) 8px center no-repeat;
	border-top:0;
	border-bottom:2px solid #d35400;
	text-decoration:underline;
}
.basket:hover{
	border-bottom:0;
	background-color:#585f69;
	border-top:2px solid #343638;
}
.basket.not-active{
	color:#969696;
	border-bottom:0;
	background:#ebebeb url(../images/basket-notactive.png) 8px center no-repeat; 
	border-top:2px solid #ebebeb;
	
}
.item-num{
	display:inline-block;
	margin-left:5px;
	text-decoration:none!important;
	word-wrap:break-word;

}
.user-name{
	width: 145px;
	height:20px;
	text-align:left;
	position:absolute;
	right:0; top: 13px;
	color:#464646;
	overflow:hidden;
}
.exit-login{
	display:block;
	color:#ff6700;
	position:absolute;
	right:109px; top: 33px;
	text-decoration:underline;
}
.exit-login:hover{
	color:#464646;
}
.sections{
	list-style:none;	
	font-size:14px;	
	margin-top:25px;
}
.sections  li {
	display:inline-block;
	margin:0 35px 0 0;
	height:22px;
}
.sections  li a{
	display:block;
	text-transform:uppercase;
	color:#585f69;
}
.sections  li a:hover, .sections  li a.current{
	height:20px;
	color:#ff6700;
	border-bottom:2px solid #ff6700;
}
.broadcamp{
	margin:20px 0 0;
}
.broadcamp.admin{
	margin:50px 0 0;
}
.broadcamp a{
	font-size:14px;
	color:#585f69;
}
.lk-head{
	width:100%;
	height:32px;
	margin: 10px 0 0 0;
	border-bottom:1px dotted #585f69;
	font-size:24px;
	text-transform:uppercase;
	color:#585f69;
}

.lk-head span{
	height:32px;
	display:inline-block;
	border-bottom:1px solid #585f69;	
}
.profile-add{
	margin: 55px 0 0 0;
	font-size: 18px;
	text-transform: uppercase;
}
.profile-add span{
	display:block;
}
.add-prof, .add-deliv-adres{
	text-transform: none;
}
.items{
	width:100%;
	margin-bottom:60px;
}
.items-head>div{
	display:table-cell;
	overflow:hidden;
	vertical-align:bottom;
	font-size:13px;	
	color:#585f69;
	padding:0 5px 10px 0;
	
}
.check-block{
	width:30px;
	height:20px;
	padding:0 10px 10px 8px!important;
	display:table-cell;
	vertical-align:top;
}
.item .check-block{
	width:30px;
	padding:0 10px 5px 8px!important;
	vertical-align:middle;
}
.item .article, .item .measure, .item .nomenclature,  .item .price, .item .balance, .item .reserve, .item .road, .item .num-items, .item .order-num, .item .order-current, .item .sum, .item .needs, .item .stock, .item .agree {
	vertical-align:middle!important;
} 

.article{	
	width:65px;	
}
.nomenclature{
	width: 210px!important;
	padding: 10px 63px 10px 0!important;
}
.measure{
	width:96px;
	text-align: center;
}
.price{
	width:96px;
	text-align: center;
}
.sum{
	width:95px;
	padding: 10px 5px 10px 0!important;
}
.balance{
	width:90px;
	text-align:center;
}
.reserve{
	width:105px;
	text-align:center;
}
.road{
	width:144px;
	text-align:center;
}
.order-num{
	width:100px;
}
.order-date{
	width: 115px;
	padding: 10px 45px 10px 0!important;
	
}
.order-adress{
	width: 190px;
	padding: 10px 55px 10px 0!important;
}
.delivery-date{
	width: 105px;
	padding: 10px 45px 10px 0!important;
}
.num-items{
	width: 76px;
}
.comment{
	width: 142px;
	padding: 10px 57px 10px 0!important;
}
.order-current{
	width:110px;
	text-align:center;
}
.agree{
	width: 170px;	
	text-align: center;
}
.agree.checked {
	background:url(../images/ok.png) 55px center no-repeat;
}
.agree .jq-checkbox{
	margin:0 auto;
	left: -10px;
}
.edit, .group-edit-button{
	width:40px;
	height:41px!important;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	position:relative;	
	background:url(../images/lk-icons.png) -92px -45px no-repeat;
	padding:  0!important;
}
.edit:active, .edit.active, .group-edit-button:active{		
	background:url(../images/lk-icons.png) -46px -45px no-repeat!important;
}
.item.edited .edit, .edit-group {	
	background:url(../images/lk-icons.png) 0 -45px no-repeat!important;	
}
.del-wrap{
	width: 41px;
	text-align: right;
	padding: 10px 10px 10px 0!important;
}
.edit-wrap{
	width:40px;
	padding: 10px 0 10px 0!important;
}
.delete, .group-delete-button{
	width: 41px;
	height: 41px!important;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	position:relative;	
	background: url(../images/lk-icons.png) -46px -90px no-repeat;
	padding: 0!important;	
}
.delete:active, .delete.active, .group-delete-button:active {
	background: url(../images/lk-icons.png) 0 -90px no-repeat;
}
.group-edit-button, .group-delete-button{
	position: relative;
	top: 10px;
	margin: 0 10px 0 0;
	display:none;
}
.stock{
	width: 80px;
	text-align: center;
	color:#959595!important;
}
.needs{
	width: 110px;
	text-align: center;
	color:#959595!important;
}
.org-num{	
	width:60px;
}
.FIO{
	width:240px;	
}
.post{
	width:150px;
}
.login{
	width:150px;
}
.access{
	width:140px;	
}
.access .jq-checkbox, .access img {
	margin:0 auto!important;
	
}
.prof-edit, .admin-menu{
	width:80px;
	overflow:visible!important;
}
.delivery-adress{
	width:650px;	
}
.edit-num{
	width:90%;
	height:40px;
	margin:0 auto;
	display:block!important;
	background:white;
	color:#959595!important;
	text-align:center;	
	positioN:relative;
	padding:0 5px!important;
	border:1px solid #959595 ;
	border-radius:4px;	
	font-family:'Roboto Condensed', 'sans-serif';
}
.edit-num:focus{
	border:1px solid #ff6700;
}
.admin-icon{
	
	width:14px;
	height:10px;
	margin:0 auto;
	position:relative;
	background:url(../images/lk-icons.png) -92px -90px no-repeat;
}
.items-head .admin-icon{
	bottom:8px;
}
.items-head .balance{
	text-align:left;
	padding-left:20px;
	width:70px!important;
} 
.items-head .reserve{
	text-align:left;
	padding-left:10px;
	width:95px!important;
} 
.items-head .road{
	text-align:left;
	padding-left:20px;
	width:124px!important;
} 
.items-head .needs{
	text-align:left;
	padding-left:20px;
	width:94px!important;
} 
.items-head .stock{
	text-align:left;
	padding-left:20px;
	width:60px!important;
} 
.items-head .FIO{
	text-align:left;
	padding-left:10px;
	width:230px!important;
} 
.items-head .post{
	text-align:left;
	padding-left:10px;
	width:140px!important;
} 
.items-head .login{
	text-align:left;
	padding-left:10px;
	width:140px!important;
} 
.admin-icon ul{
	display:none;
	min-width:125px;
	list-style:none;
	position:absolute;
	top:25px; right:-17px;
	background:#585f69;
	border-radius:2px;	
	-webkit-border-radius:2px;
	z-index:100;
}
.admin-icon ul.top{
    top: 25px !important;;
}
.admin-icon ul.bottom{
    bottom:25px !important;
}
.admin-icon ul.top:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #585f69;
	border-width: 10px;
	margin-left: 29px;
}
.admin-icon ul.bottom:after{
    bottom: -20px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #585f69;
    border-width: 10px;
    margin-left: 29px;
}
.admin-icon ul li{
	padding:10px 15px;	
}
.admin-icon ul li a{
	font-size:13px;
	color:#e1e1e1;
}
.admin-icon ul li a:hover{
	color:#ff6700;
}

.items-basket{
	width: 41px;
	height: 41px!important;	
	float: right;	
}

.items-basket  a{
	display: block;
	width: 41px;
	height: 41px!important;	
	margin: 0!important;
	cursor: pointer;
	background:url(../images/lk-icons.png) -92px 0 no-repeat;	
}
.items-basket a:hover{
	background:url(../images/lk-icons.png) -45px 0 no-repeat;
}
.items-basket a.complete{
	background: url(../images/lk-icons.png) 0 0 no-repeat!important;
}
.items-head{
	height:50px;
	width:100%;
	display:table;
	padding: 30px 0 0 0;	
}
.border-line{
	width:100%;
	height:2px;
	background:#9ca5b1;
}
img.ruble-img { height: 9px; }
img.ruble-orange-img { height: 17px; }
.item{	
	width:940px;
	height:60px;	
	border-top:1px solid #d7d8da;
	cursor:pointer;
	display:table;
}
.item:hover,.item.editItem{
	background:#ebebeb;
}
.item>div{		
	display:table-cell;
	overflow:hidden;
	vertical-align:middle;
	font-size:13px;	
	color:#585f69;
	padding: 10px 5px 10px 0;
	word-wrap:break-word;
}
.items-list{
	width: 955px;
	padding-right: 15px;	
}
.items-list>.item:first-child{
	border-top:0;
}
.item>.nomenclature{
	font-size:16px;
	color:#000000;
}
.item>.measure{
	width:96px;	
}
.item>.order-date, .item>.order-adress, .item>.delivery-date, .item>.num-items, .item>.comment{
	color:#585f69;
}
.item>.order-date{
	padding: 10px 45px 10px 0!important;
}
.item>.nomenclature{
	width:210px;
	padding: 10px 63px 10px 0!important;
}
.item>.order-num{
	font-size:16px;
	color:black;
	vertical-align:middle;	
}
.item>.agree{
	padding: 10px 0 10px 0!important;
}
.item>.org-num, .item>.org{
	font-size:16px;
	color:black;
}

.item>.delivery-adress, .item>.FIO{
	font-size:16px;
	color:black;
}
.item>.FIO input, .item>.post input, .item>.login input{
	float:left!important;
	margin:0!important;
}
.item>.access{
	text-align:center;
}
.order-info{
	font-size:13px;
	position:relative;
	margin-top:25px;
	color:black;
}
.order-info span{
	color:#3f3f3f;
}
.part-order{
	font-size:18px;
	margin-top:20px;
}
.total{
	border-top: 2px solid black;
	height: 40px;
	padding: 5px 0 0 0;
	margin: 0 0 25px 0;
	text-align: right;
	font-size: 13px;
	color: #3f3f3f;
}
.total span, .basket-total span{
	font-size:24px;
	color:#ff6700;
	margin:0 5px 0  10px;
}

.statistic-total{
	width:930px;
	height: 70px;
	margin:0  auto;	
	padding: 0 0 0 10px;
	border-top: 2px solid black;
	background:white;
}
.basket-total{
	border-top: 2px solid black;
	height: 60px;
	margin:0  0  0 0;
	text-align: right;
	padding:20px 0 0; 
	font-size: 13px;
	color: #3f3f3f;
}
.order-detail{
	width:860px;
	margin-bottom:60px;
	padding:30px;
	background:#e1e1e1;	
}
.some-detail{
	color:#ff6700;
	text-transform:uppercase;
	padding:0 0 7px 0;
}
.order-detail span{
	display:block;
	font-size:13px;
	color:#3f3f3f;
	text-transform:none;
}

.add-button, .save-button, .cancel-button, .add-basket-button, .add-org, .org-save, .org-cancel, .add-prof, .dell , .canc, .add-deliv-adres {	
	height:40px;
	display:inline-block;
	padding:0 20px;	
	line-height:40px;
	cursor:pointer;
	position:relative;
	top:20px;
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size:16px;		
	border-radius:4px;	
	-webkit-border-radius:4px;
	background:#ff6700;
	border-top:0;
	border-bottom:2px solid #d35400;
	color:white;	
}
.add-org{
	top:20px!important;
}
.add-button:active, .save-button:active, .cancel-button:active, .add-basket-button:active, .sub-basket:active, .add-org:active, .org-save:active, .org-cancel:active, .add-prof:active, .add-deliv-adres:active{
	background:#585f69;
	border-top:2px solid  #353638;	
	border-bottom:0;
	color:#c5c7c6;
}
.save-button, .cancel-button, .delete{
	display:none;
	padding: 0 10px;
	margin: 0 10px 0 0;
}
.cancel-button{
	background:#555555;
	border-bottom:2px solid #252525;	
}
.add-basket-button{
	top:-3px;
	float:left;
}
.org-save, .org-cancel{
	top:0;
}
.org-cancel, .canc{
	background:#585f69;
	border-bottom:2px solid #343638;
}
.del-item a{
	width: 40px;
	height: 41px!important;
	display: block;
	float: right;	
	margin:  0!important;
	cursor: pointer;
	background: url(../images/lk-icons.png) -46px -90px no-repeat;
}
.del-item a:active{
	background: url(../images/lk-icons.png) 0 -90px no-repeat;
}
.basket-detail{
	width:940px;
	height:300px;
	margin:0 auto 60px;
	padding:40px 0 0 0;
	background:#e1e1e1;
	position:relative;	
}
.basket-detail .formDiv{
	width:460px;
	min-height:40px;
	margin:0 auto 20px;
	position:relative;	
	text-align:right;
}
.basket-detail .formDiv label{
	display:inline-block;
	width:105px;
	font-size:16px;
	color:#3f3f3f;
	float:left;
	margin-top:10px;
}
.basket-detail 	input{
	width:300px;
	height:20px;
	color:#3f3f3f;
	font-size:16px;
	float:right;
	padding:10px;
	font-family: 'Roboto Condensed', 'sans-serif';
	background:#ebebeb;
	border:1px solid #585f69 ;
	border-radius:2px;
	-webkit-border-radius:2px;
	position:relative;
	z-index:10;
}
.basket-detail select{
	width:320px;
	height:40px;
}
.basket-detail 	input:focus, .basket-detail textarea:focus{
	border:1px solid #ff6700;
}
.basket-detail textarea{
	width:300px;
	height:60px;
	
	padding:10px;
	position:relative;
	right:0;
	background:#ebebeb;
	border:1px solid #585f69 ;
	border-radius:2px;
	-webkit-border-radius:2px;
	font-size:16px;
	color:#3f3f3f;
	font-family: 'Roboto Condensed', 'sans-serif';
}
.sub-basket{
	height:40px;
	display:inline-block;
	padding:0 20px;	
	line-height:40px;
	cursor:pointer;
	position:relative;
	right:207px;
	font-family: 'Roboto Condensed', 'sans-serif';
	font-size:18px;		
	border-radius:4px;	
	-webkit-border-radius:4px;
	background:#ff6700;
	border-top:0;
	border-bottom:2px solid #d35400;
	color:white;	
}
.error-message{
	width:115px;
	min-height:40px;
	background:#ff6700;
	color:white;
	font-size:18px;
	padding:20px 10px 20px 20px;
	position:absolute;
	top:40px; right:70px;
	border-radius:2px;
	-webkit-border-radius:2px;
}

.error-message:after {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #ff6700;
	border-width: 8px;
	margin-top: -11px;
}
/************** PAGING *****************/
.paging{	
	height:25px;
	margin: 30px auto 60px;
	overflow:hidden;
	text-align:center;	
}
.pages{
	margin:0 2px!important;
	height:25px!important;
	min-width:20px!important;
	display:inline-block!important;
	overflow: hidden;	
	font-size:0;
}

.pages a {
	min-width:20px;
	height:25px;
	text-align:center;
	display:inline-block;
	vertical-align: bottom;
	margin: 0 9px;
	font-size:13px;
	color:#3f3f3f;
	line-height:20px;
	text-decoration:none;	
}
.pages a:hover{
	height:23px;
	color:#ff6700;
	border-bottom:2px solid #ff6700;
}
.back, .forward, .full-back, .full-forward{
	width:13px;
	height:11px;
	margin:0 5px;
	overflow: hidden;
	display:inline-block;
	font-size:20px;	
	position: relative;
	top: -10px;
	
}
.back{	
	background:url(../images/paginator.png) 0 -15px no-repeat;
}
.back:hover{
	background:url(../images/paginator.png) 0 -45px no-repeat;
}
.full-back{
	background:url(../images/paginator.png) 0 0  no-repeat;
}
.full-back:hover{
	background:url(../images/paginator.png) 0 -30px no-repeat;
}
.full-forward{
	background:url(../images/paginator.png) -15px 0  no-repeat;
}
.full-forward:hover{
	background:url(../images/paginator.png) -15px -30px  no-repeat;
}
.forward{
	background:url(../images/paginator.png) -15px -15px no-repeat;
}
.forward:hover{
	background:url(../images/paginator.png) -15px -45px no-repeat;
}

.pages a.active{
	height:23px;
	color:#ff6700;	
	border-bottom:2px solid #ff6700;
}
/*************  FANCY ********************/
.popup-order{
	width:460px;
	height:220px;
	position:relative;
	background:white;
	color:black;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.order-close{
	width:25px!important;
	height:24px!important;
	position:absolute!important;
	top:15px!important; right:15px!important;
	background:url(../images/close.png) no-repeat!important;
	cursor:pointer!important;
}
.order-article{
	position:absolute;
	top:40px; left:50px;
	font-size:13px;
}
.order-article span{
	margin-left:5px;
}
.order-nomenclature{
	position:absolute;
	top:60px; left:50px;
	font-size:18px;
}
.number{
	position:absolute;
	top:110px; left:50px;
	font-size:13px;
}
.number-input{
	width:80px;
	height:30px;
	position:absolute;
	top:135px; left:50px;
	font-family: 'Roboto Condensed', 'sans-serif';
	padding:5px 10px 5px 10px;
	border:1px solid #ff6700;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.order-button{
	height:40px;
	padding:5px 20px ;
	background:#ff6700;	
	border-radius:4px;
	position:absolute;
	top:135px; left:170px;
	font-family: 'Roboto Condensed', 'sans-serif';
	color:white;
	font-size:16px;
	-webkit-border-radius:4px;
	box-shadow:	0 2px 0 #d35400;
}
.order-button:active{
	color:#c5c6c7;
	background:#585f69;
	-webkit-border-radius:4px;
	box-shadow:inset	0 2px 0 #282828;
}

.popup-er{
	width:460px;
	height:220px;
	overflow:hidden;
	background:white url(../images/error.jpg) 50px center no-repeat;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.msg{
	width:190px;
	height:110px;
	font-size:18px;
	position:relative;
	top:60px; left:190px;
}
.popup-good{
	width:460px;
	height:220px;
	overflow:hidden;
	background:white url(../images/good.jpg) 60px center no-repeat;
	border-radius:4px;
	-webkit-border-radius:4px;
}


.add-org-window{
	width:520px;
	
	padding:30px 40px;
	background:white;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.add-org-window .formDiv{
	margin: 10px 0 10px;
}
.add-org-window .check-span{
	left: 40px;
	top: -20px;
	width: 260px;
	color:black;
}
.add-org-window span{
	font-size: 24px;
	color: black;
	margin-bottom: 15px;
	display: inline-block;
}
.add-org-window label{
	display:block;
	margin-bottom: 7px;
	color:black;
}
.add-org-window input{
	width:500px;
	height:20px;
	padding:10px;
	font-size:18px;
	background:#ebebeb;
	border:1px solid #717171;
	border-radius:2px;
	-webkit-border-radius:2px;
	display:block;
}
.add-org-window input:focus{
	border:1px solid #ff6700;
}
.confirm{
	width:520px;
	height:90px;
	padding:30px 40px;
	border-radius:4px;
	-webkit-border-radius:4px;
	font-size:24px;
	text-transform:uppercase;
	background:white;
}
.confirm button{
	margin-right:10px;
}

/********************* dateckiper ***************/
.ui-datepicker-trigger{
	position: absolute!important;
	top: 11px!important;
	right: 298px!important;
	cursor:pointer;
	z-index:20;
}
.hasDatepicker{
	width:280px!important;
	padding:10px 10px 10px  30px !important;
}


