.bx_filter_horizontal.bx_blue .bx_filter_section{
background: #ffffff;
	border: 3px solid #E1E1E1;
}
.bx_filter_horizontal.bx_blue .bx_ui_slider_range{
	background: url(images/range_bg.png);
}
.bx_filter_horizontal.bx_blue .bx_filter_control_section{text-align: center}
.bx_filter_horizontal.bx_blue .bx_filter_search_button{
	height: 25px;
	line-height:25px;
}
.bx_filter_horizontal.bx_blue span.icon_lupe{
	background: url(images/searchicon.png) no-repeat center;
}